# Environment variables will be added in Phase 0 Step 2 (docker-compose.yml)

POSTGRES_DB=lmpc
POSTGRES_USER=lmpc_user
POSTGRES_PASSWORD=changeme_dev_only
MINIO_ROOT_USER=lmpc_minio_admin
MINIO_ROOT_PASSWORD=changeme_dev_only
SECRET_KEY=e4de0bdde026f26a2f819007473bda31ad44a1339bac70472fd0720727092ce0
